/BraintreeEncryption.Library.sln.DotSettings.user
/BraintreeEncryption.Library.suo
/BraintreeEncryption.Library/bin/*
/BraintreeEncryption.Library/obj/*
/BraintreeEncryption.Library.Tests/bin/*
/BraintreeEncryption.Library.Tests/obj/*
/_ReSharper.BraintreeEncryption.Library
